Repository MTCawthray/What-in-the-world, pull requests merged in 2021-09, with the labels that each got.

#11 Feature/quiz page setup
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/Form/Form.tsx
  src/components/Map/Map.tsx
  src/components/QuizPage/QuizPage.tsx
Labels: Component, UserStory

#18 Feature/form component
  src/components/Answers/Answers.tsx
  src/components/Form/Form.tsx
  src/components/QuizPage/QuizPage.tsx
Labels: Component

#27 Feature/app error handle
  src/components/App/App.tsx
Labels: bug, enhancement, Component

#31 Feature/error component
  src/api/apiCalls.tsx
  src/assets/error.png
  src/components/Answers/Answers.tsx
  src/components/App/App.css
  src/components/App/App.tsx
  src/components/ErrorHandling/ErrorHandling.css
  src/components/ErrorHandling/ErrorHandling.tsx
  src/components/Form/Form.css
  src/components/Form/Form.tsx
  src/components/QuizPage/QuizPage.css
  src/components/QuizPage/QuizPage.tsx
  src/index.css
Labels: documentation, enhancement, Component, CSS

#32 Feature/quiz page refresh
  src/api/apiCalls.tsx
  src/components/App/App.tsx
  src/components/Form/Form.tsx
  src/components/Map/Map.css
  src/components/Map/Map.tsx
  src/components/QuizPage/QuizPage.tsx
Labels: bug, enhancement, Component

#35 Feature/form testing
  cypress/integration/quizpage_spec.js
  src/components/Answers/Answers.tsx
  src/components/QuizPage/QuizPage.tsx
Labels: Cypress

#36 Feature/test 404 error
  cypress/integration/errorpage_spec.js
  cypress/integration/quizpage_spec.js
  cypress/support/commands.js
  src/api/apiCalls.tsx
  src/components/App/App.tsx
  src/components/ErrorHandling/ErrorHandling.tsx
Labels: bug, documentation, Cypress

#37 Feature/test 500 error
  cypress/integration/errorpage_spec.js
  cypress/support/commands.js
Labels: documentation, enhancement, Cypress

#39 Feature/img bug
  README.md
  cypress/integration/errorpage_spec.js
  cypress/integration/homepage_spec.js
  cypress/integration/quizpage_spec.js
  cypress/support/commands.js
  src/components/Answers/Answers.tsx
  src/components/App/App.tsx
  src/components/ErrorHandling/ErrorHandling.tsx
  src/components/Form/Form.tsx
  src/components/QuizPage/QuizPage.tsx
Labels: bug, Component

#42 Bug fix/overflow scroll
  src/components/App/App.css
  src/components/ErrorHandling/ErrorHandling.css
  src/components/QuizPage/QuizPage.css
Labels: bug, CSS

#44 Feature/readme
  README.md
  src/components/App/App.tsx
Labels: READ.ME
